[submodule "Creative Work/lab-0"]
	path = Creative Work/lab-0
	url = https://github.com/cpe202Winter2022/lab0-BrianMere
[submodule "Creative Work/lab-1"]
	path = Creative Work/lab-1
	url = https://github.com/cpe202Winter2022/lab1-BrianMere
[submodule "Creative Work/lab-2"]
	path = Creative Work/lab-2
	url = https://github.com/cpe202Winter2022/lab2-BrianMere
[submodule "Creative Work/lab-3"]
	path = Creative Work/lab-3
	url = https://github.com/cpe202Winter2022/lab3-BrianMere
[submodule "Creative Work/lab-4"]
	path = Creative Work/lab-4
	url = https://github.com/cpe202Winter2022/lab4-BrianMere
[submodule "Creative Work/lab-5"]
	path = Creative Work/lab-5
	url = https://github.com/cpe202Winter2022/lab5-BrianMere
[submodule "Creative Work/lab-6"]
	path = Creative Work/lab-6
	url = https://github.com/cpe202Winter2022/lab6-BrianMere
[submodule "Creative Work/lab-7"]
	path = Creative Work/lab-7
	url = https://github.com/cpe202Winter2022/lab7-BrianMere
[submodule "Creative Work/lab-8"]
	path = Creative Work/lab-8
	url = https://github.com/cpe202Winter2022/lab8-BrianMere
[submodule "Creative Work/proj1"]
	path = Creative Work/proj1
	url = https://github.com/cpe202Winter2022/p1-BrianMere
[submodule "Creative Work/proj2"]
	path = Creative Work/proj2
	url = https://github.com/cpe202Winter2022/p2-BrianMere
[submodule "Creative Work/proj3"]
	path = Creative Work/proj3
	url = https://github.com/cpe202Winter2022/p3-BrianMere
[submodule "Creative Work/proj4"]
	path = Creative Work/proj4
	url = https://github.com/cpe202Winter2022/p4-BrianMere
[submodule "Creative Work/proj5"]
	path = Creative Work/proj5
	url = https://github.com/cpe202Winter2022/p5-BrianMere
